.header_cont {
    background: #6d94c4;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    color: azure;
}
.header_text {
    font-size: 20px;
    font-weight: 500;
}
.header_image {
    width: 50px;
    border-radius: 50px;
}