.sidebar_container {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #e2e2e2;
    height: 100vh;
}
.sidebar_item, .activeL {background: transparent;/* margin-bottom: 20px; */padding: 20px;text-decoration: none;/* border-top-right-radius: 26px;border-bottom-right-radius: 26px; */color: black;}

.sidebar_item:hover  {background: #b0d0da;}
.activeL  {background: #6D94C4;}