.App {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "header header"
                      "sidebar content";
}
.content {
  grid-area: content;
  height: 86vh;
  /* padding: 20px; */
}
.header {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.sidebar {
  grid-area: sidebar;
  position: fixed;
  top: 60px;
}

